[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/xoxor4d/imgui.git
	branch = docking-update
[submodule "deps/fifo_map"]
	path = deps/fifo_map
	url = https://github.com/nlohmann/fifo_map.git
[submodule "deps/ImGuizmo"]
	path = deps/ImGuizmo
	url = https://github.com/xoxor4d/ImGuizmo.git
	branch = radiant
[submodule "deps/discord-rpc"]
	path = deps/discord-rpc
	url = https://github.com/discord/discord-rpc.git
[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = https://github.com/Tencent/rapidjson.git
